
.card > summary {
    font-size:x-large;
    font-weight: bold;
}
.card {
  position: relative;
  min-height: 250px;
  overflow: hidden;
}

.newsCaption {
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: .6;
  left: 0;
  height: 100%;
  background-color: #000;
  padding: 15px;
  transform: translateY(80%);
  backface-visibility: hidden;
  transition: opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.newsCaption-title {
    margin: 0 15px 18px 0;
}

.news-Slide-up:hover .newsCaption {
  opacity: .6;
  top: 0px;
  transform: translateY(0px) !important; 
  transition: opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

/*immgaini bg*/
.card {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#container {
  margin: 0 10vw;
  display: grid; 
  grid-template-columns: 1fr 1.5fr 1fr; 
  grid-template-rows: 1fr 1fr 0.7fr 0.7fr 0.7fr; 
  gap: 50px 25px; 
  grid-template-areas: 
    ". membro-1 membro-2"
    ". membro-3 ."
    "membro-4 membro-4 membro-4"
    "membro-5 membro-5 membro-5"
    "membro-6 membro-6 membro-6"; 
}

#membro-1 { grid-area: membro-1; }
#membro-2 { grid-area: membro-2; }
#membro-3 { grid-area: membro-3; }
#membro-4 { grid-area: membro-4; }
#membro-5 { grid-area: membro-5; }
#membro-6 { grid-area: membro-6; }