
main {
  margin-left: 20vw;
  margin-right: 20vw;
}

.card {
  position: relative;
  height: 31vh;
  overflow: hidden;
}

.newsCaption {
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: .6;
  left: 0;
  height: 100%;
  background-color: #000;
  padding: 15px;
  transform: translateY(83%);
  backface-visibility: hidden;
  transition: opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.newsCaption-title {
    margin: 0 15px 18px 0;
}

.news-Slide-up:hover .newsCaption {
  opacity: .7;
  top: 0px;
  transform: translateY(0px) !important; 
  transition: opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.card {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ruolo {
  display: flex;
  flex-direction: column;
  height: fit-content;

}
svg {
  align-self: center;
}

.ruolo1 {
  flex-direction: row;
  
  
}

.ruolo1 .card {
  flex-grow: 2;
  order: 1;
}

.ruolo1 svg {
  order: 0;
  transform: rotate(270deg);
}



/*-------------------*/
#container {
  display: grid; 
  grid-template-columns: 1fr 1.5fr 1fr; 
  grid-template-rows: 1fr 1fr 0.7fr 0.7fr 0.7fr; 

  grid-template-areas: 
    ". membro-1 membro-2"
    ". membro-3 ."
    "membro-4 membro-4 membro-4"
    "membro-5 membro-5 membro-5"
    "membro-6 membro-6 membro-6"; 
}

.ruolo0 { grid-area: membro-1; }
.ruolo1 { grid-area: membro-2; }
.ruolo2 { grid-area: membro-3; }
.ruolo3 { grid-area: membro-4; }
.ruolo4 { grid-area: membro-5; }
.ruolo5 { grid-area: membro-6; }


/*responsive*/
@media only screen and (max-width: 1230px) {

  main {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #container {
      grid-template-areas: 
      "membro-1 membro-2"
      "membro-3 membro-3 "
      "membro-4 membro-4 "
      "membro-5 membro-5 "
      "membro-6 membro-6 "; 

      
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr ; 
  }


}

@media only screen and (max-width: 700px) {
  main {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  #container {
      grid-template-areas: 
      "membro-2"
      "membro-1"
      "membro-3"
      "membro-4"
      "membro-5"
      "membro-6"; 

      grid-template-columns: 1fr;
  }

  .ruolo1 {
    flex-direction: column;
    
    
  }
  
  .ruolo1 .card {
    order: 0;
    width: 60%;
    align-self: center;
  }
  
  .ruolo1 svg {
    transform: rotate(180deg);
  }
}