
.card > summary {
    font-size:x-large;
    font-weight: bold;
}
.card {
  position: relative;
  /*ho tolto il min-height: perchè se no la card consigliere veniva più alta delle altre;*/
  height: 30vh;
  overflow: hidden;
}

.newsCaption {
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: .6;
  left: 0;
  height: 100%;
  background-color: #000;
  padding: 15px;
  transform: translateY(80%);
  backface-visibility: hidden;
  transition: opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.newsCaption-title {
    margin: 0 15px 18px 0;
}

.news-Slide-up:hover .newsCaption {
  opacity: .6;
  top: 0px;
  transform: translateY(0px) !important; 
  transition: opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

/*immgaini bg*/
.card {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*freccia per i vari margin pensaci tu*/
.ruolo {
  display: flex;
  flex-direction: column;
  /*così da avere la freccia centrata se no si allargherebbe troppo la card 
  (per quanto riguarda la card consigliere, per questioni di coerenze meglio metterlo su tutti)*/
  height: fit-content;

}
svg {
  align-self: center;
}

.ruolo1 {
  flex-direction: row;
  
  
}
/*faccio più grande la card e la metto dopo la freccia*/
.ruolo1 .card {
  flex-grow: 2;
  order: 1;
}

.ruolo1 svg {
  order: 0;
  transform: rotate(90deg);
}


/*-------------------*/
#container {
  display: grid; 
  grid-template-columns: 1fr 1.5fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 50px 25px; 
  grid-template-areas: 
    ". membro-1 membro-2"
    ". membro-3 ."
    ". membro-4 ."
    ". membro-5 ."
    ". membro-6 ."; 
}

.ruolo0 { grid-area: membro-1; }
.ruolo1 { grid-area: membro-2; }
.ruolo2 { grid-area: membro-3; }
.ruolo3 { grid-area: membro-4; }
.ruolo4 { grid-area: membro-5; }
.ruolo5 { grid-area: membro-6; }