/*classi predefinite che daranno uno standard dimensionale 
al nostro progetto + cose utili*/

/*colori*/
:root {
    --color1: #2c2c2c;
    --color2: #43a680;
    --color-cards: #20403b;
    --color-header-footer: rgba(250, 250, 250, 0.945);  
    --color-card-box-shadow: rgba( 31, 38, 135, 0.37 );
    --color-risposta-sbagliata: rgba(255, 0, 0, 0.712);
    --color-risposta-giusta: rgba(0, 255, 170, 0.712);
}

body {
    background-color: var(--color2);
}

* {
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
p {
    font-size: 15px;
    font-weight: lighter;
}
main {
    margin: 0 15vw;
}
/*header -----------------*/

header {
    margin-bottom: 1.5rem;
    background-color: var(--color1);
}

header * {
    color: var(--color-header-footer);
    
}

.pagine a:hover {
    font-size: large;
    cursor: pointer;
    
}

.pagine a {
    transition: all .2s ease-in-out;
}

/*footer ------------------*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    background-color: var(--color1);

}

footer * {
    color: var(--color-header-footer);
}

footer .pagine {
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw;
    ;
}

footer .pagine a {
    margin: 0.5rem;
    font-size: medium;
}

.social img {
    width: 20px;
}
/*-------------------------*/

/*modal*/
.modal {   
    position: fixed;     
    left: 0;     
    top: 0;     
    z-index: 9999;     
    width: 100%;     
    height: 100%;     
    background-color: black;     
    background-color: rgba(0, 0, 0, 0.822);    
    overflow: auto;     
}
/*-----*/


.card {
    padding: 0.7rem;
    background: var(--color1);
    box-shadow: 0 8px 32px 0 var(--color-card-box-shadow);
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.card * {
    color: var(--color-header-footer);  
}

/*------------------------*/

.centrator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.no-pointer {
    pointer-events: none;
}
/*paletta (pensavo ad un marrone-verde (cerchiamo di trovare un compromesso sui gradient ;) ))*/

.bg1 {
    background: var(--color1);
}

.bg2 {
    background: var(--color2);
}

/*stile immagine*/
.stile-img {
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 var(--color-card-box-shadow);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.stile-img > img {
    border-radius: 10px;
    
}

/* margin predefiniti*/
.m0 {
    margin: 0.5rem;
}
.m1 {
    margin: 1rem;
}
.m2 {
    margin: 1.5rem;
}
.m3 {
    margin: 2rem;
}

/* padding predefiniti*/
.p0 {
    padding: 0.5rem;
}
.p1 {
    padding: 1rem;
}
.p2 {
    padding: 1.5rem;
}
.p3 {
    padding: 2rem;
}


/* font predefiniti*/

.f-s {
    font-size: small;
}

.f-m {
    font-size: medium;
}

.f-l {
    font-size: large;
}

.f-xl {
    font-size: x-large;
}

.f-xxl {
    font-size: xx-large;
}

/*border radius*/

.b5 {
    border-radius: 5px;
}


.b10 {
    border-radius: 10px;
}

.b20 {
    border-radius: 20px;
}

