/*classi predefinite che daranno uno standard dimensionale 
al nostro progetto + cose utili*/

* {
    margin: 0;
    text-decoration: none;
    color: black;
}

/*header -----------------*/

header {
    margin-bottom: 1.5rem;
}
header * {
    color: white;
}

/*footer ------------------*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

footer * {
    color: white;
}

/*-------------------------*/

/*modal*/
.modal {   
    position: fixed;     
    left: 0;     
    top: 0;     
    z-index: 9999;     
    width: 100%;     
    height: 100%;     
    background-color: black;     
    background-color: rgba(0, 0, 0, 0.822);    
    overflow: auto;     
}
/*-----*/
main {
    margin: 0 20vw;
}


footer .pagine {
    display: flex;
    flex-wrap: wrap;
    max-width: 30vh;
}

footer .pagine a {
    margin: 0.5rem;
}

.social img {
    width: 20px;
}

.card {
    padding: 0.7rem;
    background: rgba(0, 0, 0, 0.116);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/*------------------------*/

.centrator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

/*paletta (pensavo ad un marrone-verde (cerchiamo di trovare un compromesso sui gradient ;) ))*/

.bg1 {
    background: #2c2c2c;
}

.bg2 {
    
    background: #43a680;
   
    
}

.bg3 {
    background: rgb(105,163,0);
    background: linear-gradient(90deg, rgba(105,163,0,1) 0%, rgba(122,190,0,1) 100%);
}



/* margin predefiniti*/
.m0 {
    margin: 0.5rem;
}
.m1 {
    margin: 1rem;
}
.m2 {
    margin: 1.5rem;
}
.m3 {
    margin: 2rem;
}

/* padding predefiniti*/
.p0 {
    padding: 0.5rem;
}
.p1 {
    padding: 1rem;
}
.p2 {
    padding: 1.5rem;
}
.p3 {
    padding: 2rem;
}


/* font predefiniti*/

.f-s {
    font-size: small;
}

.f-m {
    font-size: medium;
}

.f-l {
    font-size: large;
}

.f-xl {
    font-size: x-large;
}

.f-xxl {
    font-size: xx-large;
}

/*border radius*/

.b5 {
    border-radius: 5px;
}


.b10 {
    border-radius: 10px;
}

.b20 {
    border-radius: 20px;
}

