.par-introduttivo {
    text-align: center;
}

.img-apertura > img {
    width: 100%;
    height: 100%;
}
.storia > img {
    width: 10vw;
    height: 30vh;
}
.mafie-italia > img {
    width: 10vw;
    height: 30vh;
}

/*animazione card hover*/


.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    
}

.card {
    transition: all .2s ease-in-out;
}
/*-------------------------------*/
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "par-introduttivo par-introduttivo par-introduttivo"
      "img-apertura mafie-Italia storia"
      "organizzazione mafie-estere reati"
      "quiz quiz quiz";
  }
  
  .par-introduttivo { grid-area: par-introduttivo; }
  
  .img-apertura { grid-area: img-apertura; }
  
  .mafie-Italia { grid-area: mafie-Italia; }
  
  .storia { grid-area: storia; }
  
  .organizzazione { grid-area: organizzazione; }
  
  .mafie-estere { grid-area: mafie-estere; }
  
  .reati { grid-area: reati; }
  
  .quiz { grid-area: quiz; }
  