main {
    margin-left: 25vw;
    margin-right: 25vw;
}

.par-introduttivo {
    text-align: center;
}

.img-apertura > img {
    width: 100%;
    height: 100%;
}
.storia > img {
    width: 10vw;
    height: 30vh;
}
.mafie-italia > img {
    width: 10vw;
    height: 30vh;
}

/*animazione card hover*/

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    
}

.card {
    transition: all .2s ease-in-out;
}
/*tolgo animazione dell'immagine */
.img-apertura.card {
    padding: 0;
}

.img-apertura.card:hover {
    padding: 0;
    transform: none;
    cursor: default;
}
/*-------------------------------*/

/*card con immagine*/
.mafie-italia {
    background: linear-gradient(to bottom, var(--color1) 0, transparent 150px), url(../Assets/index/MafiaItaliana.jpg)var(--color1);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
}

.reati {
    background: linear-gradient(to bottom, var(--color1) 0, transparent 150px), url(../Assets/index/Storia.jpg)var(--color1);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
}



.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "par-introduttivo par-introduttivo par-introduttivo"
      "img-apertura mafie-italia reati"
      "organizzazione mafie-estere mafie-estere"
      "quiz quiz quiz";
  }
  
  .par-introduttivo { grid-area: par-introduttivo; }
  
  .img-apertura { grid-area: img-apertura; }
  
  .mafie-italia { grid-area: mafie-italia; }
  
  .organizzazione { grid-area: organizzazione; }
  
  .mafie-estere { grid-area: mafie-estere; }
  
  .reati { grid-area: reati; }
  
  .quiz { grid-area: quiz; }



/*responsive*/
@media only screen and (max-width: 1230px) {
    .container {
        grid-template-areas:
            "par-introduttivo par-introduttivo par-introduttivo"
            "img-apertura mafie-italia mafie-italia"
            "organizzazione reati reati"
            "mafie-estere mafie-estere mafie-estere"
            "quiz quiz quiz";
    }
}

@media only screen and (max-width: 700px) {
    main {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .container {
        grid-template-areas:
            "par-introduttivo par-introduttivo par-introduttivo"
            "img-apertura img-apertura img-apertura" 
            "mafie-italia mafie-italia mafie-italia"
            "organizzazione organizzazione organizzazione" 
            "reati reati reati"
            "mafie-estere mafie-estere mafie-estere"
            "quiz quiz quiz";
        
        }

    .img-apertura {
        max-height: 30vh;
    }

    .container > a:nth-child(3), .container > a:nth-child(6)  {
        min-height: 20vh;
    }

    

    
}