.cosa-nostra {                                         
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieEstero/yakuza.jpg)var(--color1); 
}

.camorra {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieEstero/triade.jpg)var(--color1); 
}
.ndrangheta {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieEstero/russa.jpg)var(--color1); 
}
.sacra-corona-unita {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieEstero/sinaloa.jpg)var(--color1); 
}
.stidda {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieEstero/italoamericana.jpg)var(--color1); 
}
main {
    margin: 0 20vw;
}

/*animazione card hover*/
.card:hover {
    transform: scale(1.05);
    cursor: pointer;    
}

.card {
    
    transition: all .2s ease-in-out;

    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: right;
    
}


/*modale*/

.modal .card {
    transform: none;
    cursor: default;

    background: var(--color-cards);
      
   
    max-width: 55%;
    max-height: 70%;
    overflow-y: scroll;
    box-shadow: 0 8px 32px 0 var(--color-card-box-shadow);
}

.modal .card > img {
    max-height: 60vh;
    min-height: 40vh;

    min-width: 15vw;
    max-width: 25vw;

    float: left;
}

.modal .card ul {
    overflow: hidden;
}

.modal .card div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* attenzione a cambiare la sequenza (guarda js) */
.modal .card > div:first-child img {
    width: 30px;
    height: 30px;

    transition: all .1s ease-in-out;
}

.modal .card > div:first-child img:hover {
    width: 30px;
    height: 30px;

    cursor: pointer;
    transform: scale(1.1);
}

/*testo card*/
main > .card > p {
    max-width: 55%;
    
}

.card:nth-child(5) > p{
    max-width: 60%;
}

.container {  
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "cosa-nostra camorra"
      "ndrangheta sacra-corona-unita"
      "stidda stidda";
  }
  
  .cosa-nostra { grid-area: cosa-nostra; }
  
  .camorra { grid-area: camorra; }
  
  .ndrangheta { grid-area: ndrangheta; }
  
  .sacra-corona-unita { grid-area: sacra-corona-unita; }
  
  .stidda { grid-area: stidda; }


/*responsive*/
@media only screen and (max-width: 1230px) {
    .container {
        grid-template-areas:
            "cosa-nostra"
            "camorra"
            "ndrangheta"
            "sacra-corona-unita"
            "stidda";
    }

    .container > .card {
        min-height: 17vh;
    }

    .card:nth-child(5) > p{
        max-width: 55%;
    }
}

@media only screen and (max-width: 700px) {
    main {
        margin: 0 5vw;
    }
}


