


.cosa-nostra {                                         
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieItalia/cosa_nostra.jpg)var(--color1); 
}

.camorra {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieItalia/camorra.jpg)var(--color1); 
}
.ndrangheta {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieItalia/ndranghta.jpg)var(--color1); 
}
.sacra-corona-unita {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieItalia/scu.jpg)var(--color1); 
}
.stidda {
    background: linear-gradient(to right, var(--color1) 0px, transparent 150px), url(../Assets/mafieItalia/stidda.jpg)var(--color1); 
}

main {
    margin-left: 20vw;
    margin-right: 20vw;
}

/*animazione card hover*/
.card:hover {
    transform: scale(1.05);
    cursor: pointer;    
}

.card {
    transition: all .2s ease-in-out;

    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: right;
}

/*modale*/

.modal .card {
    transform: none;
    cursor: default;

    background: var(--color-cards);
      
    max-height: 70%;
    max-width: 55%;
    overflow-y: scroll;
    box-shadow: 0 8px 32px 0 rgba(35, 36, 44, 0.37);
}

.modal .card > img{
    max-height: 60vh;
    min-height: 40vh;

    min-width: 15vw;
    max-width: 25vw;
    float: left;
}

.modal .card ul {
    overflow: hidden;
}

.modal .card div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal .card > div:first-child img {
    width: 30px;
    height: 30px;

    transition: all .1s ease-in-out;
}

.modal .card > div:first-child img:hover {
    width: 30px;
    height: 30px;

    cursor: pointer;
    transform: scale(1.1);
    cursor: pointer;
}

/*testo card*/
main > .card > p {
    max-width: 55%;
    
}

.card:nth-child(5) > p{
    max-width: 60%;
}

.container {  
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "cosa-nostra camorra"
      "ndrangheta sacra-corona-unita"
      "stidda stidda";
  }
  
  .cosa-nostra { grid-area: cosa-nostra; }
  
  .camorra { grid-area: camorra; }
  
  .ndrangheta { grid-area: ndrangheta; }
  
  .sacra-corona-unita { grid-area: sacra-corona-unita; }
  
  .stidda { grid-area: stidda; }


/*responsive*/
@media only screen and (max-width: 1230px) {
    .container {
        grid-template-areas:
            "cosa-nostra"
            "camorra"
            "ndrangheta"
            "sacra-corona-unita"
            "stidda";
    }

    .container > .card {
        min-height: 20vh;
    }

    .card:nth-child(5) > p{
        max-width: 55%;
    }
}

@media only screen and (max-width: 700px) {
    main {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .container > .card {
        min-height: 15vh;
    }
}