main {
    display: flex;
    margin-bottom: auto;
    margin: 0 10vw;
}


footer {
    margin-top: 19.7%;
}

main.card {
    background-color: rgba(255, 255, 255, 0.089);
}

.pointer:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.pointer {
    transition: all .2s ease-in-out;
}
/*tabella domander*/
.tabella-domande .card{
    max-width: 2vw;
    max-height: 2vh;
    background-color: var(--color2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.603);  


}

.tabella-domande .card {
    color: black;
}

/*mettere un grid*/
.tabella-domande {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: fit-content;
    
    
}

.freccia::before {
    content: url("../Assets/icons/freccia.png");
    right: 28px;
    bottom: 2px;
    position: absolute;
    transform: scale(0.8);
}


/*-----------------*/


/*domande*/
.box-domande {
    float: right;
    
    width: 100%;
    display: flex;
    
}

li:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:
    14px 12.5px 8.4px rgba(0, 0, 0, 0.033),
    31.6px 28.1px 22.4px rgba(0, 0, 0, 0.048),
    100px 89px 80px rgba(0, 0, 0, 0.07);
   
}

li {
    transition: all .2s ease-in-out;
    width: fit-content;
    
}

/*colori risposte*/

.sbagliato {
    background-color: var(--color-risposta-sbagliata) !important;
}

.corretto {
    background-color: var(--color-risposta-giusta) !important;
}

/*animazione sost domanda*/

.slide-left {
    animation: slide-out 0.5s forwards;
}

.slide-right {
    animation: slide-in 0.5s forwards;
}


@keyframes slide-in {
    0% { 
        transform: translateX(-100%); 
        opacity: 0%;
        
    }
    100% { 
        transform: translateX(0%); 
        opacity: 100%;
    }
}

@keyframes slide-out {
    0% { 
        transform: translateX(0%); 
        opacity: 100%;
    }
    100% { 
        transform: translateX(-100%); 
        opacity: 0%;
        
    }
}

/*modale*/

.btn-chiudi {
    background-color: var(--color1);
    width: 40px;
    height: 5px;
    margin-top: 15px;
    cursor: pointer;

    transition: all .2s ease-in-out;
}

.btn-chiudi:hover {
    transform: scale(1.05);
    cursor: pointer;    
}

